# Корневой .gitignore для MONOREPO: /client и /server

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

.DS_Store

.vscode/

Thumbs.db
ehthumbs.db
*.swp
*.swo
.idea/

logs/
*.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

client/dist/
client/.vite/
client/.output/
client/coverage/
client/.cache/
client/public/pwa-*
client/public/sw.js

server/dist/
server/build/
server/.output/
server/coverage/
server/.cache/

*.tsbuildinfo

.env.*